---
import Layout from "../components/Layout.astro";
---
<Layout title="Page not found" description="404">
  <h1>404</h1>
  <p class="muted">That page doesn’t exist. Try the <a href="/">translator</a>.</p>
</Layout>
